html {
  font-size: 200px;
  min-width: 1200px;
}

html * {
  box-sizing: border-box;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.align_center {
  text-align: center;
}

/****************** el ui *****************/
.el-header {
  padding: 0 1.450667rem
    /* 136/93.75 */
  ;
}

.el-icon {
  font-size: .149333rem
    /* 14/93.75 */
  ;
}

.el-dialog {
  border-radius: .053333rem !important
    /* 5/93.75 */
  ;
}

.myheader .el-menu-item,
.myheader .el-submenu__title {
  font-size: 0.170667rem !important;
  padding: 0 0.266667rem !important;
}

.container {
  margin: auto;
}

@media (min-width: 769px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}