html {
  font-size: 200px;
}

html * {
  box-sizing: border-box;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.align_center {
  text-align: center;
}

/****************** el ui *****************/
.el-header {
  padding: 0 1.450667rem
    /* 136/93.75 */
  ;
}

.el-icon {
  font-size: .149333rem
    /* 14/93.75 */
  ;
}

.el-dialog {
  border-radius: .053333rem !important
    /* 5/93.75 */
  ;
}

.myheader .el-menu-item,
.myheader .el-submenu__title {
  font-size: 0.170667rem !important;
  padding: 0 0.266667rem !important;
}

.el-menu--horizontal>.el-menu-item {
  height: 0.64rem !important;
  line-height: 0.64rem !important;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 0.64rem !important;
  line-height: 0.64rem !important;
}

.container {
  margin: auto;
  padding-top: 0.213333rem
    /* 20/93.75 */
  ;
}

@media(max-width: 769px) {
  html {
    font-size: 75px !important;
  }

  .head-carousel {
    width: 100% !important;
    right: 0 !important;
  }

  .container {
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }

  .mytools {
    display: flex !important;
  }

  .more {
    display: block;
  }

  .head-text {
    display: none;
  }

  .footer-con {
    width: 100% !important;
  }

}

@media (max-width: 769px) {

  html {
    font-size: 75px !important;
  }

  .container {
    width: 100%;
    padding: 20px;
  }

  .navbar {
    display: none;
  }

  .mytools {
    display: flex !important;
  }

  .more {
    display: block;
  }

  .head-text {
    display: none;
  }

  .head-carousel {
    width: 100% !important;
    right: 0 !important;
  }

  .footer-con {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
